.contactBody {
    display: flex;
    right: 1.2rem;
}

#contactUs {
    color: var(--white);
    text-align: center;
    text-shadow: 0 0 6px #000, 0 0 6px #000;
    text-decoration: 1px underline var(--baseitblue) double;

}

.emailUs {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

#contactForm {
    max-width: 1000px;
    border: 5px solid var(--baseitblue);
    border-radius: 1.25rem;
    margin: 50px auto 0;
    background-color: rgba(56, 151, 200, 0.5);
}

.requestQuoteForm {
    display: flex;
    flex-direction: column;
    float: right;
    width: 600px;
}

.formFields {
    display: flex;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0.85rem auto;
    padding: 0.85rem 1rem;
    border: 2px solid var(--baseitblue);
    border-radius: 0.8rem;
    float: right;
    background-color: rgba(56, 151, 200, 0.1);
    color: var(--white);
    box-shadow: 0 0 12px 5px rgba(56, 151, 200, 0.5);
    max-width: 450px;
    width: 100%;
}

.contact-info-header {
    text-align: center;
    text-transform: uppercase;
}

.contact-item {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.contact-info-wrapper {
    max-width: 365px;
    display: flex;
    float: left;
    color: white;
    flex-direction: column;
    border-radius: 1.25rem;
    margin: 17px;
}

.contact-info {
    border: 2px solid var(--baseitblue);
    max-width: fit-content;
    border-radius: 1.25rem;
    box-shadow: 0 0 5px 5px rgba(56, 151, 200, 0.4);
    padding: 3.5rem 5rem;
    color: var(--white);
    text-align: center;
    background-color: rgba(56, 151, 200, 0.1);
}

#instagramLogo {
    width: 35px;
    display: inline-flex;
}

#facebookLogo {
    width: 42px;
    display: inline-flex;
}

.socialMediaTag {
    font-size: 1.25rem;
}

.social-media-table {
    display: flex;
    justify-content: center;
}


#baseitEmail {
    text-decoration: underline;
    text-decoration-color: var(--baseitblue);
    font-size: 1.7rem;
}

#baseitPhone {
    text-decoration: underline;
    text-decoration-color: var(--baseitblue);
    font-size: 1.6rem;
}

::placeholder {
    font-size: 1.2rem;
    font-family: sans-serif;
    opacity: 0.8;
}

.contactPageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.1rem;
    width: 100%;
}




/*        MEDIA QUERIES        */



@media only screen and (max-width: 900px) {
    .form {
        width: 300px;
        padding-left: 50px;
    }

}

@media only screen and (max-width: 798px) {
    .contactPageWrapper {
        flex-direction: column-reverse;
    }

    .requestQuoteForm {
        margin: 0 auto;
    }

    .form {
        max-width: 600px;
        padding: 0;
        width: 100%;
        margin: 0 auto;
    }

    .contact-info-wrapper {
        margin: 20px auto;

    }
}

@media only screen and (max-width: 520px) {
    .socialMediaTag {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 420px) {
    #contactUs {
        font-size: 1rem;
    }

    #contactForm {
        border: 1px solid var(--baseitblue);
        border-radius: 1.1rem;
        margin: 20px auto 0;
    }

    .contactPageWrapper {
        flex-direction: column-reverse;
    }

    .contact-info-wrapper {
        float: none;
        position: relative;
        margin-top: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .form {
        float: none;
        position: relative;
        max-width: 600px;
        width: 100%;
        padding: 0;
    }

    .requestQuoteForm {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
    }

    .contact-info {
        padding: 3.5rem 3rem;
    }

    .formFields {
        margin: 0.6rem auto;
        padding: 0.5rem 1rem;
        font-weight: normal;
    }
}

@media only screen and (max-width: 390px) {
    .formFields {
        max-width: 290px;
        margin: 0.5rem auto;
        font-size: 1.2rem;
    }

    .socialMediaTag {
        font-size: 1.2rem;
    }
}