@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

:root {
    --baseitblue: rgb(56, 151, 200);
    --baseitbackground: rgba(56, 151, 200, 0.1);
    --yellow: rgb(251, 251, 114);
    --lightyellow: rgb(244, 244, 158);
    --darkestblue: rgb(11, 31, 69);
    --darkblue: rgb(0, 57, 162);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --fontfamily-BIZ: 'BIZ UDPMincho', serif;
    --blue-shadow: 0 0 12px 5px rgba(56, 151, 200, 0.8);
    --black-shadow: 0 0 6px #000;
    --larger-shadow-black: 00 0 18px #000;
    --text-shadow: 2px 2px 4px #000000;
    --blue-test: rgba(56, 151, 200, 0.5);
}

html {
    background-color: var(--darkestblue);
    font-family: var(--fontfamily-BIZ);
}

body {
    margin: 0;
}

#baseitLogo {
    /* display: block;
    margin: 0 auto;
    width: 20%;
    padding-bottom: 5px; */
    display: flex;
    margin: 0 auto;
    width: min(100% - 4rem, 350px);
    padding-bottom: 5px;
}

#logoWrapper {
    border: 3px solid var(--baseitblue);
    background-color: var(--white);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 95%;
    margin-inline: auto;
}

.menuItem {
    border-radius: 1.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4rem;
    padding: .9rem 3rem;
    position: relative;
    text-shadow: 0 0 6px #000, 0 0 6px #000;
    font-family: var(--fontfamily-BIZ);
}

#menuBarList {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menuBarList,
.menuItem {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#menuBar {
    color: var(--baseitblue);
    text-align: center;
    border-bottom: 5px double var(--baseitblue);
    font: var(--fontfamily-BIZ);
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.menuItem::before {
    content: '';
    background-color: var(--baseitblue);
    border-radius: .25rem;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.menuItem:hover::before,
.menuItem[aria-current="page"]::before {
    border-radius: .25rem;
    bottom: 0;
    height: 100%;
}

.menuItem:hover {
    color: var(--white);
    transition: all .3s ease-in-out;
}

.menu-links {
    color: var(--white);
    text-decoration: none;
}






/*        CONTACT US PAGE        */


.contactBody {
    display: flex;
    right: 1.2rem;
}

#contactUs {
    color: var(--white);
    text-align: center;
    text-shadow: 0 0 6px #000, 0 0 6px #000;
    text-decoration: 1px underline var(--baseitblue) double;

}

.emailUs {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

#contactForm {
    max-width: 1000px;
    border: 5px solid transparent;
    border-radius: 1.25rem;
    margin: 50px auto 0;
    background: linear-gradient(to right, var(--blue-test), var(--baseitblue), var(--blue-test)) padding-box, 
        linear-gradient(to right, var(--baseitbackground), var(--baseitblue), var(--baseitbackground)) border-box;
    box-shadow: var(--black-shadow);
}

.requestQuoteForm {
    display: flex;
    flex-direction: column;
    float: right;
    width: 600px;
}

.formFields {
    display: flex;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0.85rem auto;
    padding: 0.85rem 1rem;
    border: 2px solid var(--baseitblue);
    border-radius: 0.8rem;
    float: right;
    background-color: rgba(56, 151, 200, 0.1);
    color: var(--white);
    box-shadow: 0 0 12px 5px rgba(56, 151, 200, 0.5);
    max-width: 450px;
    width: 100%;
    transition: all .3s ease-in-out;
}

.formFields:focus {
    outline: none;
    box-shadow: 0 0 12px 5px var(--lightyellow);
    border: 2px solid var(--lightyellow);
}

.contact-info-header {
    text-align: center;
    text-transform: uppercase;
}

.contact-item {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.contact-info-wrapper {
    max-width: 365px;
    display: flex;
    float: left;
    color: white;
    flex-direction: column;
    border-radius: 1.25rem;
    margin: 17px;
}

.contact-info {
    border: 2px solid var(--baseitblue);
    max-width: fit-content;
    border-radius: 1.25rem;
    box-shadow: 0 0 5px 5px rgba(56, 151, 200, 0.4);
    padding: 2rem;
    color: var(--white);
    text-align: center;
    background-color: rgba(56, 151, 200, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#instagramLogo {
    width: 35px;
    display: inline-flex;
}

#facebookLogo {
    width: 42px;
    display: inline-flex;
}

.socialMediaTag {
    font-size: 1.25rem;
}

.social-media-table {
    display: flex;
    justify-content: center;
}


#baseitEmail {
    text-decoration: underline;
    text-decoration-color: var(--baseitblue);
    font-size: 1.5rem;
}

#baseitPhone {
    text-decoration: underline;
    text-decoration-color: var(--baseitblue);
    font-size: 1.5rem;
}

::placeholder {
    font-size: 1.2rem;
    font-family: sans-serif;
    opacity: 0.8;
}

.contactPageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.1rem;
    width: 100%;
}

#openingHoursTitleContact {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--white);
    border-bottom: 3px solid var(--baseitblue);
    max-width: 220px;
    margin: 0 auto;
    padding: 0 6px;
}

#openingHoursListContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.opening-hours-date-contact,
.opening-hours-time-contact {
    display: flex;
    font-size: 1.2rem;
    padding: 0.1rem;
}

#opening-hours-time-contact-closed {
    justify-content: center;
}

#submitButton {
    color: var(--white);
    max-width: 200px;
    display: flex;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to right, var(--baseitblue), var(--baseitblue)) padding-box, 
        linear-gradient(to right, var(--baseitbackground), var(--baseitblue), var(--baseitbackground)) border-box;
    border: 3px solid transparent;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    box-shadow: 0 0 12px var(--baseitblue);
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--fontfamily-BIZ);
    transition: all .3s ease-in-out;
    transform: scale(1);
    text-shadow: var(--black-shadow);
}

#send {
    fill: var(--white);
    transition: all .3s ease-in-out;
    filter: drop-shadow(0 2px 3px var(--black));
}

#sendSVG {
    width: 21px;
    margin-left: 10px;
}

#submitButton:hover {
    box-shadow: 0 0 12px var(--lightyellow);
    transform: scale(1.1);
}












/*        FOOTER        */
#footer {
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 5px double var(--baseitblue);
    box-shadow: 0 0 12px 10px var(--baseitblue);
    height: 310px;
    margin-top: 50px;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    justify-content: center;
}

#openingHoursTitle {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: var(--baseitblue);
    background: linear-gradient(to right, var(--darkestblue), var(--darkestblue)) padding-box,
        linear-gradient(to right, var(--baseitblue), transparent) border-box;
    border-bottom: 3px solid transparent;
    max-width: 220px;
    margin: 0 auto;
    padding: 0 6px;
}

#openingHoursList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 190px;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
    margin: 10px auto 0 auto;
    max-width: 500px;
}

.opening-hours-date,
.opening-hours-time {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}


/*        HOME PAGE        */

.section-1 {
    color: var(--white);
    background-color: var(--baseitbackground);
    border: 2px solid var(--baseitblue);
    border-radius: 1.25rem;
    box-shadow: var(--black-shadow);
    max-width: 50rem;
    display: flex;
    position: relative;
    top: 1.2rem;
    padding: 4rem 2rem;
}





/*        SERVICES PAGE        */




.services,
.services-about,
.services-content-wrapper {
    color: var(--white);
    font-weight: normal;
}

.services {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: .5rem 0;
    max-width: 350px;
    width: 100%;
    margin: 2rem auto 1rem;
    border: 5px solid transparent;
    background: linear-gradient(to right, var(--darkestblue), var(--darkestblue)) padding-box,
        linear-gradient(to right, var(--baseitblue), var(--darkestblue), var(--baseitblue)) border-box;
    border-radius: 1rem;
    box-shadow: var(--larger-shadow-black);
}

.services-about {
    text-align: center;
    font-size: 1.4rem;
}

.services-content-wrapper {
    margin: 1rem auto;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#baseitElectrical {
    color: var(--baseitblue);
    text-transform: uppercase;
    font-weight: bold;
}

.gradient-line {
    background: linear-gradient(to left, var(--white), var(--baseitblue), var(--white));
    height: 2px;
    width: 100%;
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 1rem 0;

}

#gradientDisplayHide {
    display: none;
}

#installationPhotoWrapper {
    max-width: 800px;
    width: 100%;
    margin-left: 4rem;
}

.servicesPhotos {
    max-width: 800px;
    width: 100%;
    display: flex;
    border-radius: 2rem;
    box-shadow: var(--black-shadow);
}

.installation-wrapper {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 4rem;
}


.installation-work {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline 1.5px;
    text-decoration-color: var(--baseitblue);
    text-shadow: 5px 5px 9px #000;
    font-weight: bold;
    font-size: 1.6rem;
}

.installation-description {
    text-align: center;
    font-size: 1.2rem;
    margin: -0.1rem 2rem;
}

.installation-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.installation-item-text {
    margin: auto;
}

.installation-item {
    margin: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: var(--blue-shadow);
    transition: all .2s ease-in-out;
}

.installation-item:hover {
    box-shadow: 0 0 12px 5px var(--lightyellow);
    border: 0.5px solid var(--lightyellow);
}

.installation-item-more-info:hover {
    cursor: pointer;
    position: relative;
    display: flex;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
}

.inspection-wrapper {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#inspectionPhotoWrapper {
    max-width: 800px;
    width: 100%;
    position: relative;
    left: 5rem;
}

#inpectionDescription span {
    color: var(--baseitblue);
    font-size: 1.5rem;
}

.inspection-and-testing {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-shadow: 5px 5px 9px #000;
    text-decoration: underline 2px var(--baseitblue);
}

#EICR {
    font-size: 1.8rem;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

#EICR span {
    color: var(--baseitblue);
}






















/*        MEDIA QUERIES        */

@media only screen and (min-width: 800px) {
    #toggleMenu {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .form {
        max-width: 300px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1090px) and (min-width: 800px) {

    #menuBar,
    #menuBarList,
    #menu-links {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 0.9rem;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1500px) {
    .menuItem {
        margin-left: 20px;
        padding: .8rem 1.5rem;
    }

    /* #baseitLogo {
        display: flex;
        margin: 0 auto;
        width: 20%;
        padding-bottom: 5px;
        min-width: 300px;
    } */
}






/*        MINI MENU DROPDOWN        */

@media only screen and (max-width: 800px) {

    html {
        padding: 10px;
    }

    .toggle-menu {
        display: flex;
        justify-content: center;
        border-radius: 0.6rem;
        cursor: pointer;
        border: 3px double;
        border-color: var(--baseitblue);
        background-color: var(--darkestblue);
        padding: .3rem 1.5rem;
        font-size: 1rem;
        position: relative;
        color: var(--white);
        letter-spacing: 2px;
        text-shadow: 0 0 6px #000, 0 0 6px #000;
        margin: 10px auto;
        width: 25rem;
    }

    #menuBarList {
        margin: 0 auto;
    }

    #menuBarList,
    .menuItem {
        list-style-type: none;
        display: flex;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        flex-direction: column;
    }

    #menuBar {
        display: none;
        border-radius: .5rem;
        color: #fff;
        background: none;
        border-color: var(--black);
        padding-bottom: 5px;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

    .menuItem {
        margin-left: 20px;
        float: left;
        clear: left;
        justify-content: center;
        border-radius: 0.6rem;
        cursor: pointer;
        border: 3px double;
        border-color: var(--baseitblue);
        background-color: var(--darkestblue);
        padding: .3rem 1.5rem;
        font-size: 1rem;
        position: relative;
        color: var(--white);
        letter-spacing: 2px;
        text-shadow: 0 0 6px #000, 0 0 6px #000;
        margin: .3rem;
        width: 18rem;
    }

    @media only screen and (max-width: 390px) {
        .menuItem {
            margin-left: 20px;
            float: left;
            clear: left;
            justify-content: center;
        }

        #menuBarList,
        .menuItem {
            display: flex;
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    @media only screen and (max-width: 420px) {
        .toggle-menu {
            width: 22.5rem;
        }
    }

    @media only screen and (max-width: 390px) {

        .toggle-menu,
        .menuItem {
            width: 100%;
        }

        .menuItem {
            color: white;
            width: 10rem;
        }

        #header {
            color: white;

        }

        #menuBarList {
            display: flex;
            width: 300px;
        }

        .menuBar {
            color: white;

        }

        .menu-links {
            justify-content: center;
            display: flex;
        }
    }


    /*        CONTACT PAGE        */



    #contactUs {
        font-size: 1rem;
    }

    #contactForm {
        border: 1px solid var(--baseitblue);
        border-radius: 1.1rem;
        margin: 20px auto 0;
    }

    .contactPageWrapper {
        flex-direction: column-reverse;
    }

    .contact-info-wrapper {
        float: none;
        position: relative;
        margin-top: 20px;
        width: 100%;
        margin: 0 auto 80px;
    }

    .form {
        float: none;
        position: relative;
        max-width: 600px;
        width: 100%;
        padding: 0;
    }

    .requestQuoteForm {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
    }

    .contact-info {
        padding: 3.5rem 3rem;
    }

    .formFields {
        margin: 0.6rem auto;
        padding: 0.5rem 1rem;
        font-weight: normal;
    }

}

@media only screen and (max-width: 520px) {
    .formFields {
        max-width: 325px;
        margin: 0.5rem auto;
    }

    .socialMediaTag {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 390px) {
    .formFields {
        max-width: 290px;
        margin: 0.5rem auto;
        font-size: 1.2rem;
    }

    .socialMediaTag {
        font-size: 1.2rem;
    }
}







/*        SERVICES PAGE         */

@media only screen and (max-width: 1775px) {
    .installation-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .installation-wrapper {
        right: 0;
        max-width: 800px;
        width: 100%;
        margin-bottom: -30px;
    }

    .installation-item {
        margin: 1rem;
    }
}

@media only screen and (max-width: 1700px) {
    .installation-wrapper {
        right: 1rem;
    }
}

@media only screen and (max-width: 1670px) {
    #installationPhotoWrapper {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 1610px) {
    #installationPhotoWrapper {
        margin-left: 2rem;
        max-width: 750px;
    }

    .installation-wrapper {
        right: 0;
        max-width: 700px;
        left: 3rem;
    }

    .installation-item {
        margin: 0.9rem;
    }
}

@media only screen and (max-width: 1520px) {
    .installation-wrapper {
        left: 1rem;
        max-width: 650px;
        margin-right: 400px;
    }

    .installation-item {
        margin: 0.6rem;
        box-shadow: 0 0 8px 4px rgba(56, 151, 200, 0.8);
    }
}

@media only screen and (max-width: 1400px) {
    .services-content-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #installationPhotoWrapper,
    .installation-wrapper,
    .inspection-wrapper {
        display: grid;
        grid-column: 1 / 5;
        grid-column-end: span 2;
        margin: 0 auto;
    }

    #installationPhotoWrapper {
        grid-row-start: 2;
        margin-top: 2rem;
    }

    #gradientDisplayHide {
        display: grid;
        grid-row-start: 2;
    }

    .installation-wrapper {
        max-width: 2000px;
        position: relative;
        left: 0;
    }

    .installation-list {
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        margin: 0 auto;
    }

    .installation-item {
        margin: 2rem 2rem 1rem 2rem;
        width: 200px;
    }

    .services-about {
        margin: auto 2rem;
    }
}

@media only screen and (max-width: 1355px) {
    .services-about {
        font-size: 1.3rem;
    }

    .services {
        font-size: 1.6rem;
    }

    .installation-list {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1035px) {
    .installation-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 615px) {
    .installation-item {
        width: 150px;
        margin-bottom: 0.5rem;
    }

    .installation-work {
        font-size: 1.4rem;
    }

    .services-about {
        font-size: 1.1rem;
        padding: 0.4rem;
    }
}

@media only screen and (max-width: 515px) {
    .installation-item {
        width: 133px;
    }
}